.idea
.ipynb_checkpoints
.mypy_cache
.vscode
__pycache__
.pytest_cache
htmlcov
dist
site
.coverage
.history
coverage.xml
.netlify
test.db
log.txt
Pipfile.lock
env3.*
.venv
env
.env
.venv
entorno
docs_build
site_build
venv
constants
videos
docs.zip
archive.zip
*constants
# vim temporary files
*~
.*.sw?
.cache
app/constants/
app/storage/

# macOS
.DS_Store